html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}
/* front page */
h1 {  font-family: 'Montserrat', 'sans-serif', 'Ubuntu'; 
    font-size: 4rem;  
    line-height: 1.5;  
    font-weight: bold;
word-spacing: 1px;
}

.main-title-container{
font-family: 'Montserrat', 'sans-serif', 'Ubuntu'; 
    font-size: 4rem;  
    line-height: 1.5;  
    font-weight: bold;
word-spacing: 1px;
        margin-left: 100px;
}
.sub-title-container{
    margin-left: 100px;
}

h2{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height:1.5;
}

h3{
    font-family: 'Montserrat';
    font-weight: bold;
}

p{
    color:#8f8f8f;
}

#title{
background-color: #000000;
font-family: 'Ubuntu', sans-serif;
color: white;
height: 780px;
}
.container-fluid{
    padding: 3% 15%;
}

.navbar{
    padding-bottom: 4.5rem;

}
.navbar-brand{
    width:18%;
    margin-top: -60px;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    margin-top: -13px;
}
/* Download Buttons */
.download-button{
    margin: 5% 3% 5% 0%;
}

/* Middle Container */
#features{
    padding: 6% 14%;
    background-color: #fff;
    position: relative;
 }
 
 .feature-box{
     text-align: center;
     padding:5%;
 }
 

.middle-container{
    text-align: center;
    padding-bottom: 5%;
}

.jsn-image {
    width: 450px;
    padding-top: 60px;
    margin-left: 40px;
}
/* Testimonials */
#testimonials{
text-align:center;
background-color: #000000;
color:#fff;
height: 800px;
}
.testimonial-image{
    width:470px;
    height:400px;
    margin-top:-20px;
}

#press{
    background-color: rgb(142, 241, 231);
    text-align:center;
}

.carousel-item{
    padding: 7% 15%;
}

.carousel-2 {
padding:30px;
text-align: center;
}
/* Price Section */

#pricing{
padding: 100px;
text-align: center;
}

.price-column{
padding: 3% 2%;
}

.left-section{
    width:250px;
   font-size: 22px;
   padding-left: 100px;
}

.ryan-img{
    width:500px; 
    margin-top: -10px;

}

#cta{
    text-align:center;
    background-color: rgb(142, 241, 231);
    padding: 7% 15%;
}

#footer{
    text-align:center;
    padding-top: 10px;
    padding-bottom: 2px;
}

.container{
    padding-top: 50px;
    padding-right:40px;
    padding-left:40px;
}
.main-container{
    background-color: black;
    width: 100%;
}
.bottom-text{
    color:rgb(142, 241, 231);
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 30px;
}
#cta{
    text-align:center;
    background-color: #000000;
    padding: 7% 15%;
}

.icons-container{
    padding: 3em;
   word-spacing: 35px;
cursor: pointer;
}

/* PHONE DISPLAY */

@media (max-width: 1000px){
#title{
    text-align: center;
}
    
    .navbar-brand{
    width:18%;
    margin-top: -20px;
}

    .title-image{
        position: static;
        transform: rotate(0);
    }
/* call to action */
.bottom-text{
    color:#fff;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 50px;
}
/* footer */
#footer{
    text-align:center;
    padding:7% 15%;
}
.icons{
    width:3%;
    margin-bottom: 10px;
}
    .jsn-image{
width: 350px;
padding-top: 188px;
margin-left: 0px;
}
    body{
        width:580px;
    }
  
h2{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1rem;
    line-height:1.5;
}
.bottom-text{
    color:rgb(142, 241, 231);
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 25px;
}
.header-1 {
    display:none;
}
.jsn-info{
    font-size:16px;
}
.main-container{
    background-color: black;
    width: 100%;
    height:800px;
}
.ryan-img{
    width:180px; 
    margin-top: -10px;

}
 html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}
.icons-container {
    padding: 3em;
    word-spacing: 35px;
    cursor: pointer;
    font-size: 10px;
    }
    .title-container{
        margin-top: 50px;
        padding-right: 120px;	
    }
    .sub-title-container{
        color: rgb(142, 241, 231); 
          margin-right: 8px;
    font-size: 16px;
            margin-left: 0px;
    }
    #pricing{
padding: 80px;
text-align: center;
}
    .main-title-container {
font-family: 'Montserrat', 'sans-serif', 'Ubuntu';
font-size: 2rem;
line-height: 1.5;
font-weight: bold;
 word-spacing: 1px;
    margin-left: 0px;
}
}
@media (min-width:1000px){
    .header-2{
        display: none;
    }
}
